.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 1em 2em;
}

.navigation {
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
    
    
}

.nav-item {
    min-width: 80px;
    text-align: center;
    padding: 0.2em 0.1em;
    
}

.nav-center {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.banner {
    text-align: center;
    padding: 1em;
}

.main-content{
    display: flex;
}

.element {
    
    box-sizing: border-box;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
}

.right {
    width: 40%;
}

.left {
    width: 60%;
}

.form {
    background-color: rgb(223, 238, 243);
    border-radius: 5%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}